@media (max-width:767px) {

  header {
    padding: 15px 10px;
    background-color: #1A1B1D;
  }

  #nav-drawer {
    position: relative;
  }
.nav_logo{
  width: 100px;
}

  /*チェックボックス等は非表示に*/
  .nav-unshown {
    display:none;
  }

  /*アイコンのスペース*/
  #nav-open {
    display: inline-block;
    width: 30px;
    height: 22px;
    float: right;
    margin-top: 10px;
    vertical-align: middle;
    margin-bottom: 0;
  }

  /*ハンバーガーアイコンをCSSだけで表現*/
  #nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 3px;/*線の太さ*/
    width: 25px;/*長さ*/
    border-radius: 3px;
    background: #fff;
    display: block;
    content: '';
    cursor: pointer;
  }
  #nav-open span:before {
    bottom: -8px;
  }
  #nav-open span:after {
    bottom: -16px;
  }

  /*閉じる用の薄黒カバー*/
  #nav-close {
    display: none;/*はじめは隠しておく*/
    position: fixed;
    z-index: 99;
    top: 0;/*全体に広がるように*/
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
  }

  /*中身*/
  #nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;/*最前面に*/
    width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
    max-width: 330px;/*最大幅（調整してください）*/
    height: 100%;
    background: #fff;/*背景色*/
    transition: .3s ease-in-out;/*滑らかに表示*/
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);/*左に隠しておく*/
  }

  /*チェックが入ったらもろもろ表示*/
  #nav-input:checked ~ #nav-close {
    display: block;/*カバーを表示*/
    opacity: .5;

  }

  #nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);/*中身を表示（右へスライド）*/
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
    background-color:  rgba(72, 73, 74,0.5);

  }
  .navber ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin: 0 auto;

  }
  .navber ul li{
    list-style: none;
    padding: 10px 0;
  }
  .navber ul{
    margin-top: 10px;
  }
  #nav-drawer_sp{
    display: none;
  }


  .wrapper{
    padding:70px 5%;
    margin: 0 5%;
  }
  h2{
    font-size: 22px;
  }
  h1{
    font-size: 25px;
    max-width: 275px;
  }
  p{
    font-size: 14px;
  }
  table{
    font-size: 14px;
  }
  hr{
    height:4px;
  }

  .news .wrapper{
    padding:70px 5%;
    margin-right: 0;
    margin-left: 0;
  }
  th{
    width: 100px;
  }

  .service_1{
    width: 100%;          /* 横幅を固定して */
    display: block; /* インラインブロック化 */
    vertical-align: top;   /* 上端を揃える */

  }

  .service_3{
    display:block;
    width: 100%;
    margin-left: 0;
  }

  section.about{
    grid-column: 1/-1;
  }
  .about .wrapper{
    margin-right: 5%;
    margin-left: 5%;
    padding:70px 0px;
  }
  .about__wrapper {
    padding-left: 0px;
}

  section.contact{
  grid-column: 1/-1;
background-color:  #26272B;
  }

  .contact__wrapper {
    padding-right: 0px;
}
figure h1{
  max-width: 274px;
    margin: 0 auto;
}
}





/* ---------------------------------------------------------------------------------------------------------------- */
@media (min-width:768px) {

  header{
    padding:10px;
    background-color:  #1A1B1D;
  }
  #nav-drawer {
  display: none;
  }
  .nav_logo{
    width: 100px;
    position: absolute;
    left: 14px;
    top: 14px;

  }
  nav{
    max-width: 1140px;
    margin:0 auto;
  }
  ul{
  display: table;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  text-align: center;
  }
  ul li{
  display: table-cell;
  min-width: 50px;
  }
  ul li a{
  display: block;
  padding: 10px 0;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  margin: 0 auto;
  width: 100px;
  }
  ul li a:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
  color:#fff;
}
  ul li.current{
  background-color: rgba(168, 168, 167);
  }
  ul li.current a{
  color: #555;
  }
  ul li.nav_bg:hover{
  background-color: rgba(168, 168, 167);
  }


}

@media (min-width:1600px){
  .about .wrapper{
    margin-right: 10px;
  }
  .about__wrapper{
    padding-left: 10%;
    margin-right: 10px;
  }
  .contact__wrapper{
    padding-right: 10%;
    margin-left: 10px;
  }
}
